html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.padding-top {
	padding-top: 150px;
}

.top-nav-collapse {
  background-color: #808080 !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}


@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #808080 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%);
  background: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%);
  background: -webkit-gradient(linear, -90deg, from(rgba(0, 0, 0, 0.4)), to(rgba(255, 255, 255, 0.4)));
  background: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%);
  background: linear-gradient(to -90deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4) 100%);
}
 